.Button {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-radius: var-get('borderRadius');
  border-width: var-get('borderWidth');
  font-size: var-get('fontSize');

  // You may either refer to variables by their flat name...
  &--outline#{&}--primary {
    border-color: var-get('colorPrimary');
    color: var-get('colorPrimary');
  }

  &--outline#{&}--secondary {
    border-color: var-get('colorSecondary');
    color: var-get('colorSecondary');
  }

  // Or access lists and maps as specified via `var-set`
  @each $name, $value in var-get('color') {
    &--#{$name}:not(&--outline) {
      border-color: $value;
      background: $value;
      color: map-get(var-get('inverse'), $name);
    }
  }
}
