$var-prefix: prefix-;
$var-style: camelCase;
$var-sets: true;

:root {
  @include var-set((
    borderWidth: 1px,
    borderRadius: 3px,
    fontSize: 12px,
    color: (
      primary: blue,
      secondary: orange
    ),
    gray: (
      100: #efefef,
      300: #adadad,
      500: #989898,
      700: #676767,
      900: #151515
    ),
    inverse: (
      primary: white,
      secondary: black
    )
  ));
}
