:root {
  --prefix-borderWidth: 1px;
  --prefix-borderRadius: 3px;
  --prefix-fontSize: 12px;
  --prefix-color: {
    primary: blue;
    secondary: orange;
  };
  --prefix-gray: {
    100: #efefef;
    300: #adadad;
    500: #989898;
    700: #676767;
    900: #151515;
  };
  --prefix-inverse: {
    primary: white;
    secondary: black;
  };
}

.Button {
  -webkit-appearance: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-style: solid;
  border-radius: var(--prefix-borderRadius);
  border-width: var(--prefix-borderWidth);
  font-size: var(--prefix-fontSize);
}

.Button--outline.Button--primary {
  border-color: var(--prefix-colorPrimary);
  color: var(--prefix-colorPrimary);
}

.Button--outline.Button--secondary {
  border-color: var(--prefix-colorSecondary);
  color: var(--prefix-colorSecondary);
}

.Button--Primary:not(.Button--outline) {
  border-color: var(--prefix-colorPrimary);
  background: var(--prefix-colorPrimary);
  color: var(--prefix-inversePrimary);
}

.Button--Secondary:not(.Button--outline) {
  border-color: var(--prefix-colorSecondary);
  background: var(--prefix-colorSecondary);
  color: var(--prefix-inverseSecondary);
}

.u-backgroundColorPrimary {
  background-color: var(--prefix-colorPrimary);
}

.u-backgroundColorSecondary {
  background-color: var(--prefix-colorSecondary);
}

.u-backgroundGray100 {
  background-color: var(--prefix-gray100);
}

.u-backgroundGray300 {
  background-color: var(--prefix-gray300);
}

.u-backgroundGray500 {
  background-color: var(--prefix-gray500);
}

.u-backgroundGray700 {
  background-color: var(--prefix-gray700);
}

.u-backgroundGray900 {
  background-color: var(--prefix-gray900);
}
